.opening-container {
    border: 0px solid green;
}

.opening-header {
    background-color: #9cd3d3;
    font-weight: 550;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 0.5rem;
}

.opening-header a {
    margin-left: 1rem;
}

.opening-table {
    border: 0px solid black;
}

.opening-weekday {
    border: 0px solid black;
    border-right: 1px solid grey;
}

.opening-hours {
    padding-left: 1rem;
    border: 0px solid black;
}